container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
    "/index.html": "www/index.html"
    "/service-worker.js": "www/service-worker.js"
    "/favicon.ico": "www/favicon.ico"
    "/asset-manifest.json": "www/asset-manifest.json"
    "/manifest.json": "www/manifest.json"
